<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Headings</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto odio
      sequi blanditiis aperiam facilis voluptatem quo? Rem, laboriosam! Deleniti
      praesentium, reiciendis cupiditate modi omnis dolorem est qui sapiente
      culpa animi.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
        omnis,jashjdshjdashj jhasdjahdjashj
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="block block--dark block--skewed-left">
    <h2 class="block__heading">Headings</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto odio
      sequi blanditiis aperiam facilis voluptatem quo? Rem, laboriosam! Deleniti
      praesentium, reiciendis cupiditate modi omnis dolorem est qui sapiente
      culpa animi.
    </p>
  </section>
</div>
